.carousel-container {
   overflow: hidden;
   height: 350px;
   padding-top: 25px;
   margin: 10px;
}
.carousel-container figure{
    position: relative;
    width: 500%;
    height: 100%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
}
.carousel-container figure div {
    width: 20%;
    float: left;
    height: 100%;
}

.carousel-container figure img{
    width: 100%;
    float: left;
    height: 100%;
}

@keyframes slidy{
    0%{left: 0%;}
    10%{left: 0%;}

    33%{left: -100%;}

    66%{left: -200%;}

    96%{left: 0%;}

}